.reveals {
    padding-top: 100px;
    padding-bottom: 100px;
}
.reveals__container {
    display: flex;
    justify-content: center;
}
.reveals__wrapper {
    max-width: 416px;
    width: 100%;
}
.reveals__img {
    width: 699px;
    height: 551px;
}