.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@include breakpoint-down(900px) {
  .site-header {
    background-color: gold;
  }
}
